body {
}
.form-bos {
    width: 350px;
    height: 350px;
    position: relative;
    margin: 6% auto;
    background: #dcdfe7;
    padding: 5px;
    overflow: hidden;
}
.kavi {
    background-color: #04AA6D;
    color: white;
}

topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    background-color: palegreen;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: cadetblue;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}