<body style="background-color: #c1dad6">
    <centre>
        <br />
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <img src="~/Images/Stone-Clinic-Logo.png" width="60" height="60" />&nbsp; &nbsp;
                <h1 class="m-0 text-secondary"><span class="text-primary">Stone</span>&nbsp;Clinic</h1>
s
  
            </nav>
        </header>
</body>
<center>
    <br />
    <br />
    <img src="~/Images/Success.png" />
    <br/>
    <br/>
    <h2>Added Successfully.....</h2>
    <br/>
    <a class="navbar-brand  " asp-action="Show" asp-controller="Home"><Span class=" btn btn-primary py-2 px-4 d-none d-lg-block">BACK</Span></a>
</center>